<footer class="container black"> 
	<div class="row">
	  <div class="col-md-4 text-muted">2016</div>
	  <div class="col-md-4 text-muted"></div>
  	  <div class="col-md-4 text-muted">Donde encontrarnos</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-muted"></div>
	  <div class="col-md-4 text-muted" style="margin-top: 10px;">Copyright © 2015 Poste-ap. All rights reserved.</div>
  	  <div class="col-md-4 text-muted"><%= image_tag("git.png", :size => '25x25') %>  <%=  image_tag("fa.png", :size => '25x25') %>  <%= image_tag("in.png" , :size => '25x25') %></div>
	</div>
</footer>