<footer class="container black"> 
	<div class="row">
	  <div class="col-md-4 text-muted">quienes somos</div>
	  <div class="col-md-4 text-muted">quien eres</div>
  	  <div class="col-md-4 text-muted">quienes vamos hacer</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-muted"></div>
	  <div class="col-md-4 text-muted" style="margin-top: 10px;">Copyright © 2015 Poste-ap. All rights reserved.</div>
  	  <div class="col-md-4 text-muted"></div>
	</div>
</footer>